#myphoto {
/*  transition: transform 0.5s ease;*/
will-change: transform;
}

body {
    font-family: fantasy;
    margin: 0;
}

.note {
    font-style: italic;
}

.note_big {
    font-style: italic;
    font-weight: bold;
    font-size: 3;
}

.note_smaller {
    font-style: italic;
    color: gray;
    font-size: 0.7em;
    text-align: center;
}

.footer {
    background: #71abae;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.header_green {
    background: #add14e;
    padding: 60px;
    width: 100%;
    left: 0;
}

.header_red {
    background: #F54927;
    color: white;
    padding: 60px;
    width: 100%;
    left: 0;
}

.header_blue {
    background: #1abc9c;
    color: white;
    padding: 60px;
    width: 100%;
    left: 0;
}

.header_yellow {
    background: #e2ea44;
    padding: 60px;
    width: 100%;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background: #38725b;
}

.navbar a {
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    color: red;
}

.main {
    justify-content: center;
}

.main h2 {
    padding: 5px 25px;
}
.main p {
    padding: 15px;
}

.main img {
    padding: 5px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.main_smaller {
    justify-content: left;
    max-width: 800px;
}

.main_smaller h2 {
    padding: 5px 25px;
}

.main_smaller p {
    padding: 15px;
}

.gif {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.side {
    order: 2;
    flex-grow: 1.5;
}

.side h2 {
    padding: 5px 25px;
}

.side p {
    padding: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    gap: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.zoom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 70px;
    padding-top: 50px;
    transition: transform .2s;
    margin: 0;
    z-index: 1;
}

.zoom:hover {
    transform: scale(2);
    z-index: 2;
}

.divisory_1_simpler {
    order: 0;
    padding: 30px;
    position: relative;
    flex-direction: column;
    max-width: 1000px;
    display: flex;
    background: #de587f;
    border-radius: 100px;
    border: 25px solid #e01313;
    margin: 20px;
}

.divisory_1_simpler h2{
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_1_simpler p {
    padding: 15px;
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_2_simpler {
    order: 0;
    padding: 30px;
    position: relative;
    flex-direction: column;
    max-width: 600px;
    display: flex;
    background: #1ee1e6;
    border-radius: 60px;
    border: 15px solid #95effd;
    margin: 20px;
}

.divisory_2_simpler h2{
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_2_simpler p {
    padding: 15px;
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_3_simpler {
    order: 0;
    padding: 30px;
    position: relative;
    flex-direction: column;
    max-width: 1200px;
    display: flex;
    background: #e086ff;
    border-radius: 50px;
    border: 20px solid #bc36ec;
    margin: 20px;
}

.divisory_3_simpler h2{
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_3_simpler p {
    padding: 15px;
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_1 {
    order: 0;
    padding: 30px;
    position: relative;
    flex-direction: column;
    max-width: 300px;
    display: flex;
    background: #3a6dbf;
    border-radius: 20px;
    border: 5px solid #2e5697;
    margin: 20px;
}

.divisory_1 h3 {
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}
.divisory_1 p {
    padding: 15px;
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_1::before {
    content: '';
    position: absolute;
    inset: 15px;
    background: #2e8ad1;
    border-radius: 30px;
    border: 3px solid #1b639b;
    z-index: 0;
}

.divisory_2 {
    order: 0;
    padding: 30px;
    position: relative;
    flex-direction: column;
    max-width: 300px;
    display: flex;
    background: #5b962d;
    border-radius: 20px;
    border: 3px solid #437021;
    margin: 20px;
}

.divisory_2 h3 {
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}
.divisory_2 p {
    padding: 15px;
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_2::before {
    content: '';
    position: absolute;
    inset: 15px;
    background: #64c51b;
    border-radius: 30px;
    border: 3px solid #62b027;
    z-index: 0;
}

.divisory_3 {
    order: 0;
    padding: 30px;
    position: relative;
    flex-direction: column;
    max-width: 300px;
    display: flex;
    background: #3a7658;
    border-radius: 20px;
    border: 3px solid #2b5b43;
    margin: 20px;
}

.divisory_3 h3 {
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}
.divisory_3 p {
    padding: 15px;
    z-index: 1;
    color: white;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.divisory_3::before {
    content: '';
    position: absolute;
    inset: 15px;
    background: #2ec378;
    border-radius: 30px;
    border: 3px solid #1f9b5d;
    z-index: 0;
}


.divisory_smaller {
    order: 0;
    position: relative;
    flex-direction: column;
    display: flex;
    background: #d11a78;
    border-radius: 20px;
    border: 6px solid #de60a1;
    margin: 20px;
}

.divisory_smaller h2{
    padding: 0px 15px;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 3;
}
